@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --primary-font: 'Bebas Neue', sans-serif;
  --secondary-font: 'Cairo', sans-serif;

  --primary-color: #FFD369;
  --body-color: #0E0F14;
  --grey-color: #CAC4D0;
  --blue-color: #356EFF;
  --red-color: #F15858;
}